.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 80%;
    max-width: 350px;
    height: 100vh;

    background-color: var(--bg-app);
    border-right: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;

    z-index: 20;
}

.sidebar-content {
    flex: 1;
    padding: var(--space-lg);
    overflow-y: auto;
}

.sidebar-section {
    margin-bottom: var(--space-xl);
}

.sidebar-title {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: var(--space-sm);
    color: var(--text-secondary);
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: var(--space-sm);

    font-size: 0.95rem;
    margin-bottom: var(--space-xs);
}

.sidebar-footer {
    padding: var(--space-md);
    border-top: 1px solid var(--border-color);
}

.sidebar-button {
    width: 100%;
    padding: var(--space-sm);

    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 8px;

    font-size: 1rem;

    margin: 5px;
}

.sidebar-close-button {
    width: 10%;
    align-self: flex-end;
    margin: 10px;
}

.sort-direction-toggle-button {
    border-radius: 10px;
}


.sidebar-tags-list {
    list-style: none;
}

.tag-label {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.tag-name-container {
    display: flex;
    flex-direction: space-between;
}

.tag-label span {
    text-transform: capitalize;
}

.sidebar-basic-sort-menu {
    display: flex;
    justify-content: space-evenly;
}

.sidebar-basic-sort-options {
    display: flex;
    flex-direction: column;
}

@media (hover: hover) {

    .sidebar-button:hover,
    .sidebar-close-button:hover,
    .sort-direction-toggle-button:hover {
        background-color: orange;
        cursor: pointer;
    }
}